@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

/* remove default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Jura', sans-serif;
}

